<div class="page-wrapper bg-success">
	<div class="positioned">
		<h1>YAY! You did it!</h1>
		<p>Here’s a beautiful pic for you</p>
		<p><%= link_to 'continue shopping', products_url, class: 'lnk-big' %></p>
	</div>
</div>

