/* ==========================================================================
    GENERAL STYLES
========================================================================== */

html,
body {
    font-family: 'Lato', Arial, sans-serif;
    height: 100%;
    color: $text;
}

* {
    box-sizing: border-box;
}

input,
textarea,
input:active,
textarea:active,
:focus {
    outline: none;
}

a {
    text-decoration: none;
}

a:focus {
    outline: none;
}

a:hover {
    text-decoration: none;
}

/*  clearfix  */
.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
    zoom: 1; /* For IE 6/7 */
}

.page-wrapper {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto !important;
    min-height: 100%;
    padding-top: 18%;
    min-height: 100%;
	background-image: image-url("bg-top.jpg");
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.content-wrapper {
	background: #f2f3f3;
    padding-bottom: 30px;
}

.container {
	max-width: 1240px;
    width: 90%;
	margin: 0 auto;
	padding: 0 20px;
}

.no-pd {
	padding: 0 !important
}

.text {
    font-size: 16px;
    line-height: 26px;
}

.lnk-small {
    font-size: 15px;
    color: $link;
    text-decoration: underline;
    transition: all .2s;

    &:hover {
        text-decoration: underline;
        color: darken($link, 5%);
    }
}

p, figure {
	margin: 0;
}