.tile-big,
.tile {
	display: block;
	float:left;
	padding: 0 20px;
	margin: 20px 0;
  opacity: 0;
}

.tile-big {
	width: 50%;
}

.tile {
	width: 25%;
}

@media only screen and (max-width: 1070px) {

	.tile {
		width: 50%;
	}
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 580px) {
	.tile-big {
		width: 100%;
	}
	.tile {
		width: 100%;
	}
}

.animated-list {
  perspective: 1300px;
}

.animated-list > .animate {
  transform-style: preserve-3d;
  transform: translateZ(400px) translateY(300px) rotateX(-90deg);
  animation: fallPerspective .8s ease-in-out forwards;
}

.shown {
  opacity: 1;
}

@keyframes fallPerspective {
  0% {
  }

  100% {
  	transform: translateZ(0px) translateY(0px) rotateX(0deg);
  	opacity: 1;
  }
}
