.span_2_of_4,
.span_1_of_4 {
	display: block;
	float:left;
}

.span_2_of_4 {
	width: 50%; 
}

.span_1_of_4 {
	width: 25%; 
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span_2_of_4 {
		width: 100%; 
	}
	.span_1_of_4 {
		width: 100%; 
	}
}