.tile-big,
.tile {
	display: block;
	float:left;
	padding: 0 20px;
	margin: 40px 0;
}

.tile-big {
	width: 50%; 
	height: 590px;
}

.tile {
	width: 25%; 
	height: 370px;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.tile-big {
		width: 100%; 
	}
	.tile {
		width: 100%; 
	}
}