.add-too-shopping-cart-modal {
	position: fixed;
	top: 120px;
	left: 50%;
	display: none;
	width: 720px;
	height: 440px;
	background: image-url("bg-popup.jpg");
	background-size: cover;
	margin-left: -360px;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, .8);

	h3 {
		display: none;
	}

	.btn-close {
		position: absolute;
		top: 20px;
		right: 20px;
		text-align: center;
		width: 40px;
		height: 40px;
		font-size: 28px;
		line-height: 36px;
		color: $gray;
		background-color: $gray-dark;
		border-radius: 5px;
		transition: all .2s;

		&:hover {
			background-color: darken($gray-dark, 5%);
		}
	}

	.btn-popup {
		position: absolute;
		bottom: 40px;
		right: 40px;
		
		width: 240px;
		height: 40px;
		font-size: 15px;
		font-weight: bold;
		line-height: 40px;
		text-align: center;
	}
}

.lnk-big {
	position: absolute;
	bottom: 45px;
	left: 40px;
	color: $link;
	font-size: 18px;
	text-decoration: underline;
	transition: all .2s;

	&:hover {
		color: darken($link, 5%);
		text-decoration: underline;
	}
}

@media only screen  and (min-width: 540px) and (max-width: 780px) {
	.add-too-shopping-cart-modal {
		top: 80px;
		left: 50%;
		display: none;
		width: 520px;
		height: 317px;
		margin-left: -260px;
	}
}

@media only screen  and (max-width: 539px) {
	.add-too-shopping-cart-modal {
		top: 80px;
		left: 50%;
		display: none;
		width: 320px;
		height: 195px;
		margin-left: -160px;
	}
}