<div class="container clearfix">
    <% @products.each_with_index do |product, index| %>
        <div class="span_<%= index < 2 ? '2' : '1' %>_of_4">
            <figure class="has-hover">
                <%= image_tag product.image(:medium) %>
                <figcaption>
                    <p class="description-short"></p>
                    <span></span>
                    <a href="" class="btn-primary">stare</a>
                </figcaption>
            </figure>
            <h3 class="item-title"><%= link_to product.title, product %></h3>
            <p>
                <a href="" class="item-price"></a>
            </p>
        </div>
    <% end %>
</div>
